* {
    box-sizing: border-box;
}

:root {
    --main-color: wheat;
    --secondery-color: rgb(242, 210, 151);
}

body {
    text-align: center;
    background-color: var(--main-color);
    font-family: monospace;
}

table {
    margin: 1.5rem auto;
    background-color: var(--secondery-color);
    text-align: center;
}

.cell {
    width: 3rem;
    height: 3rem;
    border: solid 3px;

    cursor: pointer;
    transition: 0.3s;

    font-size: 1.5rem;
}

.cell:hover {
    background-color: var(--main-color);
}