* {
    box-sizing: border-box;
}

:root {
    --background-color: #ebddc0;
    --main-color: rgb(255, 235, 198);
    --secondery-color: rgb(242, 210, 151);
}

body {
    background-color: var(--background-color);

    text-align: center;
    font-family: monospace;
}

h1{
    font-size: 2.5rem;
}

table {
    margin: 1.5rem auto;
    background-color: var(--secondery-color);
    text-align: center;
}

.cell {
    width: 2.5rem;
    height: 2.5rem;
    border: solid 3px;

    cursor: pointer;
    transition: 0.3s;

    font-size: 1.5rem;
}

.cell:hover {
    background-color: var(--main-color);
}

.clicked {
    background-color: var(--main-color);
}

.btns button {
    padding: 0.5rem;
    margin: 0.5rem;

    background-color: var(--secondery-color);
    border-radius: 5px;

    font-size: 1rem;

    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: var(--main-color);
}

.hud {
    width: 30rem;
    margin: 1rem auto;

    background-color: var(--secondery-color);
    border: solid black 2.5px;
    border-radius: 10px;
}

.hud * {
    display: inline-block;
    margin: 0.8rem;

    font-size: 1.3rem;
}

.smiley{
    width: 4rem;
    height: 3.5rem;
    margin: auto;
    background-color: var(--secondery-color);

    border:  solid black 2.5px;
    border-radius: 5px;

    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s;
}

.smiley:hover {
    font-size: 2.2rem;
}

.hints *{
    margin: 0.1rem;
    border-radius: 5px;
    cursor: pointer;
}